<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="reportThas01Entities" connectionString="metadata=res://*/ReportThas01.csdl|res://*/ReportThas01.ssdl|res://*/ReportThas01.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THAS-REPORT01\THOMPSONSQL;initial catalog=thas01;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="liveThas01Entities" connectionString="metadata=res://*/liveThas01.csdl|res://*/liveThas01.ssdl|res://*/liveThas01.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=thas-sql02;initial catalog=thas01;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LiveConnectDbEntities" connectionString="metadata=res://*/LiveConnect.csdl|res://*/LiveConnect.ssdl|res://*/LiveConnect.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=thas-sql02;initial catalog=ConnectDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReportConnectDbEntities" connectionString="metadata=res://*/ReportConnectDB.csdl|res://*/ReportConnectDB.ssdl|res://*/ReportConnectDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=thas-report01\thompsonsql;initial catalog=ConnectDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>